


    
.login{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #acd2ef;
    margin-top: 200px;
    margin-bottom: 150px;
    margin-right: 60px;
    margin-left: 400px;
    justify-content:center;
    width: 30%;
    position: relative;
    height: 100%;
    border-style: inset;
    border-radius: 1rem;
    
    
button{
    
    
    margin-top: 50px;
    width: 200%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;;
  }
}



.click{
    margin-left: 20px;
    color: black;
    cursor: pointer;


}

